@import "partials/mixins";
@import "partials/main";



/*
body {
  .mta-leadgenpopup-wrapper {
    display: none;
    z-index: -1;

    .superheadline,
    .subheadline {
      display: block;
      font-size: 0.75em;
    }

    .header-wrapper,
    .form-wrapper,
    .text-wrapper,
    .content-wrapper {
      position: relative;
    }

    .align-center {
      text-align: center;
    }
    .align-left {
      text-align: left;
    }

    .hide-labels {
      li {
        position:relative;

        label {
          position: absolute;
          left:9999px;
        }
      }
    }
    .text-wrapper {
      margin-bottom: 1.5rem;
    }

    .close-mta-leadgenpopup {
      cursor: pointer;
      color: red;
      display: block;
      position: absolute;
      top: -1.5rem;
      right: -1.25rem;
      font-size: 1.5rem;
      line-height: 1;
      font-weight: bold;

      &:hover, &:active, &:focus {
        color: black;
      }
    }

    .mta-leadgenpopup {
      flex: 0 0 100%;
      max-width: 90vw;
      margin: 0 auto;

      * {
        max-width: 100%;
      }
    }

    .mta-leadgenpopup-inside {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 90vh;
      padding: 2rem;
      background: white;
    }

    &.two-col-text-left,
    &.two-col-text-right {
      .mta-leadgenpopup {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .mta-leadgenpopup-inside {
        width:100%;
        max-width: 1000px;
        align-self: center;
      }
      .content-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;

        .text-wrapper {
          flex: 0 0 100%;
          word-wrap: break-word;
        }
        .form-wrapper {
          flex: 0 0 100%;
        }
      }
    }

    &.two-col-text-left {
      .mta-leadgenpopup {
        .mta-leadgenpopup-inside {
          .content-wrapper {

          }
        }
      }
    }
    &.two-col-text-right {

    }
  }
  &.show-leadgenpopup {
    overflow: hidden;

    .mta-leadgenpopup-wrapper {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(22, 22, 22, 0.95);
      z-index: 999;
    }
  }
}




@media all and (min-width:768px) {
  body {
    .mta-leadgenpopup-wrapper {
      &.two-col-text-right,
      &.two-col-text-left {
        .mta-leadgenpopup {
          .mta-leadgenpopup-inside {
            .content-wrapper {
              .text-wrapper {
                flex: 0 0 60%;
                margin-bottom: 0;
              }
              .form-wrapper {
                flex: 0 0 40%;
              }
            }
          }
        }
      }
      &.two-col-text-left {
        .mta-leadgenpopup {
          .mta-leadgenpopup-inside {
            .content-wrapper {
              .text-inside {
                padding-right: 2.5rem;
              }
            }
          }
        }
      }
      &.two-col-text-right {
        .mta-leadgenpopup {

          .mta-leadgenpopup-inside {
            .content-wrapper {
              flex-direction: row-reverse;
              display: flex;
              .text-inside {
                padding-left: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
*/




/*
.mta-leadgenpopup-meta-wrapper .meta-input textarea,
.mta-leadgenpopup-meta-wrapper .meta-input input,
.mta-leadgenpopup-meta-wrapper .meta-input select,
.mta-leadgenpopup-meta-wrapper .meta-input label {
  width:100%;
}

.mta-leadgenpopup-meta-wrapper.two-col-text-right .style-meta-wrapper,
.mta-leadgenpopup-meta-wrapper.two-col-text-left .style-meta-wrapper {
  flex: 0 0 100%;
  margin-bottom: 1rem;
}

.mta-leadgenpopup-meta-wrapper.two-col-text-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.mta-leadgenpopup-meta-wrapper.two-col-text-left .content-meta-wrapper {
}
.mta-leadgenpopup-meta-wrapper.two-col-text-left .form-meta-wrapper {
}
.mta-leadgenpopup-meta-wrapper.two-col-text-left .content-meta-wrapper .meta-input {
  padding-right: 10px;
}
.mta-leadgenpopup-meta-wrapper.two-col-text-left .form-meta-wrapper .meta-input{
  padding-left: 10px;
}

.mta-leadgenpopup-meta-wrapper.two-col-text-right {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.mta-leadgenpopup-meta-wrapper.two-col-text-right .content-meta-wrapper {
  flex: 0 0 60%;
}
.mta-leadgenpopup-meta-wrapper.two-col-text-right .form-meta-wrapper {
  flex: 0 0 40%;
}
.mta-leadgenpopup-meta-wrapper.two-col-text-right .content-meta-wrapper .meta-input {
  padding-left: 10px;
}
.mta-leadgenpopup-meta-wrapper.two-col-text-right .form-meta-wrapper .meta-input{
  padding-right: 10px;
}
*/
